.title{
    background-color: red;
    color : white;
    /*font-family: 'Fredericka the Great', cursive;*/
    font-family: 'Faster One', cursive;
    font-size: 1em;
    text-align: center;
    margin : 5px;
    min-width: 5vh;
}

.datestyle{
    font-family: 'Monofett', cursive;
    background-color: black;

    font-size: 2em;
    text-align: center;
    min-width: 5vh;
    margin : 5px;
    border: 1px solid white;

}

.orange{
    color : darkorange;
}

.green{
    color : lightgreen;
}

.destination{
    background-color: black;
    color : white;
    /*font-family: 'Fredericka the Great', cursive;*/
    font-family: 'Faster One', cursive;
    font-size: 1em;
    text-align: center;
    margin : 5px;

}

.mainbox{
    background-color: slategrey;
    font-family: 'Fredericka the Great', cursive;
}

.col-centered{
    float: none;
    margin: 0 auto;
}

.container-am-pm{
    display: flex;
    flex-direction: column;
    align-items: center;
    /*align-items: flex-start;*/
}




.point-double{
    font-size: 4em;
    margin : 2px;
    text-align: center;
    color : darkkhaki;

}

.am-pm{
    background-color: red;
    color : white;
    font-family: 'Faster One', cursive;
    font-size: 1em;
    text-align: center;

}
.point{
    margin: 5px;
    max-height: 15px;
    max-width: 15px;
    min-height: 15px;
    min-width: 15px;
    background-color: green;
    border-radius: 50%;
    text-align: center;

}

.point-orange{
    background-color:#880000 ;
 }

.point-green{
    background-color:green;
}